<!DOCTYPE html>
<html lang="{{ .Site.Params.language }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "subheader.html" . }}

    {{ range where .Data.Pages ".Title" "About" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

    {{ range where .Data.Pages ".Title" "Projects" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
      {{ .Content }}
    </article>
    {{ end }}

    <section class="left-section">
      <header>Upcoming</header>
    {{ range where .Data.Pages ".Title" "yours" }}
    <section class="project-upcoming-section">
      <header>
        <a href="{{ .Params.mainurl }}">
          {{ partial "project_logo.html" . }}
        </a>
        <p class="project-upcoming-title">{{ .Title }}</p>
      </header>
      <aside>
        {{ .Content }}
      </aside>
    </section>
    </section>
    {{ end }}
    
    {{ range where .Data.Pages ".Title" "Contact Us" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>

